body {
  background-color: #EA967A;
  font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
  color: white;
  padding: 1.5em;
  overflow: hidden;
  background: url(../images/app-background-image-truckL.jpg) center top no-repeat;
  background-size: cover;
  min-height: 220px;
}

header #logo {
  background-image: url("../images/TruckSpotLogo.png");
  background-repeat: no-repeat;
  text-indent: -999px;
  height: 50px;
  display: inline-block;
  width: 100%;
}

header h2 {
  font-weight: bold;
}

header h3 {
  font-size: 19.5px;
  margin-top: 0;
  font-weight: 100;
}

header #slogan {
  margin-top: 1.5em;
}

/* Container */
.container {
  padding-top: 2.5em;
}

.container #text-box {
  padding: 1em 2em;
  background-color: #91D2D0;
  border: 3px solid #45A095;
}

.container .btn {
  width: 100%;
  border: none;
  box-shadow: none;
  padding: 0.7em
}

.container .btn {
  margin: 1em 0em;
}

.container .btn.btn-primary {
  background-color: #45A095;
  font-size: 1.3em;
}

.container .btn.btn-primary:hover,
.container .btn.btn-primary:active {
  background-color: #7AB8A1;
}

.container h1 {
  font-size: 1.5em;
  margin-bottom: 0em;
  color: #8c3030;
  font-weight: bold;
}

.container h1:last-child {
  margin-top: 0.5em;
}
