body {
  background-color: #EA967A;
  font-family: 'Montserrat', sans-serif;
}

p{
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}

header {
  margin-bottom: 26px;
  overflow: hidden;
}

header h1#logo {
  background-image: url("../images/truckspot-logo.png");
  background-repeat: no-repeat;
  text-indent: -999px;
  height: 50px;
  margin-left: 20px;
  display: inline-block;
  margin-right: 0;
  padding-right: 0;
  width: 40%;
}

ul#nav {
  float: right;
  margin-right: 30px;
  margin-top: 41px;
}

ul#nav li {
  list-style: none;
  float: left;
  margin-right: 14px;
}

ul#nav li:last-child {
  margin-right: 0;
}

ul#nav li a {
  color: #a14a76;
  font-weight: bold;
}

ul#nav li a:hover {
  color: #ffc7a9;
}

h3#top {
  margin-left: -14px;
  color: #8c3030;
}
div.container {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ffc7a9;
  margin-bottom: 35px;
  padding-bottom: 25px;
}
label {
    background-color: rgba(241, 241, 241, 0.4);
    padding: 5px;
    color: #b5674e;
}


button.btn-dark{	
	text-align: center;
	margin-left: auto;
<<<<<<< HEAD
	margin-right: auto;}
=======
	margin-right: auto;
}
.btn {
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.4);
box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.4);
border-width: 0;
}
>>>>>>> 8ee66fd22d6ade439436fb022e46f2548b418e21

.btn-primary  {
  border-width: 0;
}
.btn-primary:active{
  background-color: #204B57;
} 
#text-box {
    padding: 25px;
    background-color: #92b0c8;
    margin-bottom: 25px;
    margin-top: 25px;
}
h3 {
  font-weight: 600;
}
#text-box h3 {
  color: #8c3030;
  margin-top: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-success{
  background-color: #27ae60;
}

.btn-primary{
  color: #27ae60;
  background-color: white;
  font-weight: bold;
  box-shadow: 10px #000000;
}

.btn-primary:active {
  box-shadow: none;
}

.btn {
  width: 100%;
  margin-bottom: 20px;
}


.form-control{
margin-bottom: 5px;

}

