body {
  background-color: #EA967A;
  font-family: 'Montserrat', sans-serif;
 }

p{
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}
div#paragraph{
  text-indent: 50px;
}

header {
  margin-bottom: 26px;
 overflow: hidden;

  background: url(../images/app-background-image-truckSm.jpg) center bottom no-repeat;
  background-size: cover;
  min-height: 220px;
  padding: 25px;
}
div#pic {
 margin-left: auto;
 margin-right: auto;
}

#interior header {
  background: url(../images/app-background-image-truckL.jpg) center top no-repeat;
  background-size: cover;
}

ul.nav li.dropdown-menu:hover > ul.dropdown-menu {
  display:block;
}


div#pic .col-lg-6, div#pic .col-xl-6, div#pic .col-md-6{
  padding-left: 0;
  padding-right: 0;
}
header h1#logo {
  background-image: url("../images/TruckSpotLogo3.png");
  background-repeat: no-repeat;
  text-indent: -999px;
  height: 50px;
  display: inline-block;
  margin-right: 0;
  padding-right: 0;
  width: 100%;
  opacity: 0.5px;
}
ul#nav {
  display: none;
}
div#mobile-nav{
  float: right;
}
div#mobile-nav .dropdown-item{

    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;

}
div#pic div#slogan{
  clear: both;
  margin-top: 50px;
  float:left;

}
h3#top {
  margin-left: -14px;
  color: #8c3030;
}

div.container {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #F7B6A3;
  margin-bottom: 35px;
  padding-bottom: 25px;
}
div#pic {
  background: url(../images/app-background-image-truckL.jpg) center top no-repeat;
  background-size: cover;
  min-height: 350px;
  padding: 25px;
}

div#pic h2, div#pic h3 {
  color: white;
  margin-top: 0;

}
div#pic h2{
  font-weight: bold;  
}
div#pic h3{
font-size: 19.5px;
font-weight: normal;
}
 
img.img-fluid {
  max-width: 100%;
  height:auto;
}
div.container {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #F7B6A3;
  margin-bottom: 35px;
  padding-bottom: 25px;
}
label {
    background-color: rgba(241, 241, 241, 0.4);
    padding: 5px;
    color: #9a4124; 
}


button.btn-dark{	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


.btn {
-webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.4);
box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.4);
border-width: 0;
}


.btn-primary  {
  border-width: 0;
}
/*.btn-primary:active:hover{
  background-color: #7AB8A1;
  border-color: #92b0c8;
} */
#text-box {
    padding: 25px;
    background-color: #91D2D0;
    margin-bottom: 25px;
    margin-top: 25px;
     border: 3px solid #45A095;
}
h3 {
  font-weight: 600;

}
p#aboutus{
font-family: 'Raleway', sans-serif;
font-weight: bold;
font-style: normal;
font-size: 20px;
text-indent: 7px

}
p#quote{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight:bold;
  font-size: 20px;
  text-indent: 10px;
}
#text-box h3 {
  color: #8c3030;
  margin-top: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-success{
  background-color: #45A095;
}

.btn-success:hover {
  background-color: #7AB8A1;
  box-shadow: none;
}
.btn-primary:active {
  background-color: #7AB8A1;
  }

.btn-success:active {
  background-color: #7AB8A1;
  box-shadow: none;
}

.btn {
  width: 100%;
  margin-bottom: 20px;
  border: none;
}

.btn-large {
  background-color: #45A095;

}
.back-stories{
  color: #91D2D0;
  
}

.btn-primary{
  color: #ffffff;
  background-color: #45A095;
  font-weight: bold;
  box-shadow: 0px 4px 6px 0px rgba(68, 68, 68, 0.6);
  font-size: 18px;
}

.home.btn-primary {
  height:50px;
}


.btn-primary:hover {
  background-color: #7AB8A1;
  box-shadow: none;
}

.btn-primary:active {
  background-color: #7AB8A1;
  box-shadow: none;
}

.btn-secondary{
color:#45A095;
background-color: #ffffff;
}

.padding-0-left{
  padding-left: 0;
}

.padding-0-right{
  padding-right: 0;
}

.padding-0{
  padding-left: 0;
  padding-right: 0;
}

.btn-secondary:hover{
color:#ffffff;
background-color: #7AB8A1;
padding-right: 
}

.form-control{
margin-bottom: 5px;

}
video {
  background: #222;
   margin: 10px auto; 
  width: 100%;
  max-height:480px;
  max-width: 640px;
}

ul#data {
  list-style: none;
  padding-left: 0;  
}

ul#data li{
  border-bottom: 1px solid gray;
  padding: 15px;
}

ul#data a:hover li {
  background-color: blue;
}
div#groups img{
  max-height: 199px;
  width: auto;
  max-width: 100%;
margin: 0 auto 15px auto;
display: block;

}






div#text-box video{
  width: 640px;
  max-width: 100%;

}
#mapid{
  max-width: 100%;
  height: 600px;
}

@media (min-width: 768px /*@screen-sm-min*/) { 
  header {
    margin-bottom: 0;
    background: url(../images/app-background-image-truckL.jpg) center bottom no-repeat;
    background-attachment: fixed;
    min-height: 350px; 
    background-size: cover;
  }
  .hidden-md-up {
    display: none;
  }
  header h1#logo {
    
  }

  ul#nav {
    float: right;
    display: block;
    position: relative;
    z-index: 9999;
  }

  ul#nav {
  margin-right: 30px;
}


ul#nav li:last-child {
  margin-right: 0;
}

ul#nav li a {
  color: #F7B6A3;
  font-weight: bold;
}

ul#nav li a:hover {
  color: #8e4141;
}

  ul#nav li {
    list-style: none;
    text-align: center;
    height: 28px;
    float: left;
    margin-right: 14px;
    margin-bottom: 10px;
    margin-right: 25px;
    height: auto;
    box-shadow: none;
    width: auto;
    font-size: 30px;


  }
   ul#nav li:last-child {
    margin-right: 0;
    margin-bottom: 0;

  }
  ul#nav li ul{
    opacity: 0;
    z-index: 9999;
    position: fixed;
  }
  ul#nav li:hover ul{
    opacity: 1;
    right: 86px;
    
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
  }
  ul#nav li ul li {
    float: none;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
    background-color: #9F6150;
  }
  ul#nav li:hover ul li {
    height: 42px;
    overflow: visible;
    padding: 0px 4px 6px;
    border-bottom: 4px solid #F7B6A3;
  }

  div#pic{
    background: url(../images/app-background-image-truckL.jpg) center bottom no-repeat;
    background-attachment: fixed;
   
    background-size: cover;
}
  div#pic div#slogan{

    width: 750px;
    padding-right: 25px;
    margin-right: auto; 
   
}
div#groups .organization{
   display: flex;
   height: 200px;

}

div#groups .vertical{
  display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;

}
div#groups img {
  margin-bottom: 0;
  max-height: 199px;


}

}
@media (min-width: 992px /*@screen-md-min*/){
div#pic {
    width:970px;
  }
}
@media (min-width: 1200px /*@screen-lg-min*/){
div#pic {
    width:1170px;
  }


}