
 h3{
 	color: currentColor;
 	font-style: italic;

 }
body{
	color: red;

}
form{

	padding: 25px;
	display: block;
	position: relative;
	float: left;
	box-sizing: border-box;
	width: 100%;
}

.input_form {
	width: 100%;
}

@media only screen and ( min-width: 768px){


#name_form{
	
}

#name_input{
}

 #date_form{
 	
 }

#date_input{
}
#duration_form{
	
}

#duration_input{
}

#nearest_input{
}

#nearest_form{
	
}
#description_input{
}
#description_form{
	
}
.input_form{
	float: left;
	clear: both;
	width: 50%;
}
 .ui-btn{
 	float: left;
 	clear: both;
 	width: 300px;
 }

form{
	width: 50%;
	padding: 25px;
	display: block;
	position: relative;
	float: left;
	box-sizing: border-box;

}
}
}