

.form-control{
margin-bottom: 5px;

}

body {
	background-image: url("images/truckbackround.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;

   
}

label {

    background-color: rgba(241, 241, 241, 0.57);
    padding: 5px;
}


