  <div class="row">
    <div class="col-xs-12">
      <h3>We care because we breathe it</h3>
      <p id="aboutus">We want to improve air quality in the Detroit community and with your help by using truckSPOT, you can report incidents of idling trucks thats are disturbing our peaceful and clean environment. With your reports you’ll be able to see real time data collected by the community.</p>
    </div>
    <div class="col-xs-12">
      <p id="statement"> Polluted air has no boundaries of where it travels and will continue causing long term damage to people's health. You can make a change.</p>
    </div>
  </div>