<div id="groups" class="row">
  <div class="col-sm-12">
    <h3>Coalition of community groups</h3>
  </div>
  <div class="col-md-3 col-sm-12 col-xs-12">
    <a href="http://www.graceinactiondetroit.org/radical-productions/">
      <img src="images/RP Logo 2.png">
    </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="https://michiganenvironmentaljusticecoalition.wordpress.com/">
      <img src="images/michigan environemental justice coalition logo.png">
    </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="http://www.michigannightlight.com/organizations/sdcbc.aspx">
      <img src="images/SDCDC_logo.png">
    </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="https://www.sierraclub.org/michigan/environmental-justice">
      <img src="images/sierra club.png">
    </a>
  </div>
</div>