<div class="col-md-4 col-md-push-8">
<div id="text-box" class="filter">

    <h3>{{text_box.text_2}}</h3>

    <div id="filter">
        <div id="first">
            <h4 class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                {{city_title}}
            </h4>
            <div id="collapseOne" class="collapse" data-parent="#filter">
                {{#each city}}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="{{this.id}}" name="city" value="{{this.value}}">
                        <label class="form-check-label" id="{{this.id}}" for="{{this.id}}">{{this.label}}</label>
                    </div>
                {{/each}}
            </div>
        </div>
        <div id="second">
            <h4 class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                {{duration_title}}
            </h4>
            <div id="collapseTwo" class="collapse" data-parent="#filter">
                {{#each duration}}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="{{this.id}}" name="durataion_range" value="{{this.value}}">
                        <label class="form-check-label" id="{{this.id}}" for="{{this.id}}">{{this.label}}</label>
                    </div>
                {{/each}}
            </div>
        </div>
        <div id="third">
            <h4 class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                {{number_title}}
            </h4>
            <div id="collapseThree" class="collapse" data-parent="#filter">
                {{#each truck_number}}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="{{this.id}}" name="truck_amount" value="{{this.value}}">
                        <label class="form-check-label" id="{{this.id}}" for="{{this.id}}">{{this.label}}</label>
                    </div>
                {{/each}}
            </div>
        </div>
        <div id="fourth">
            <h4 class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                {{problem_title}}
            </h4>
            <div id="collapseFour" class="collapse" data-parent="#filter">
                {{#each filter_truck_problem}}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="{{this.id}}" name="truck_problem" value="{{this.value}}">
                        <label class="form-check-label" id="{{this.id}}" for="{{this.id}}">{{this.label}}</label>
                    </div>
                {{/each}}
            </div>
        </div>
        <button id="filterSubmit" type="submit" class="btn btn-secondary">{{filter_submit}}</button>
    </div>
    </div>
</div>
