<header>

  <div id="pic" class="img-fluid">
    <div class="row">
      <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6">
        <div id="mobile-nav" class="btn-group">
          <div class="dropdown hidden-sm hidden-md hidden-lg hidden-xl">
            <button class="btn dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{#each menu_items}}
              <li><a class="dropdown-item" href="{{this.href}}">{{this.text}}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>

        <a href="index.html">
          <h1 id="logo">Truck Spot</h1>
        </a>

      </div>

      <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6">
        <!--Jessica's menu here-->
        <div class="dropdown">
          <ul id=nav>
            {{#each menu_items}}
            <li><a href="{{this.href}}">{{this.text}}</a></li>
            {{/each}}
          </ul>
        </div>
        <!-- dropdown-->
      </div>
      <div id="slogan">
        <h2>{{slogan.line_1}}</h2>
        <h3>{{slogan.line_2}}</h3>
      </div>
      <!--slogan-->
    </div>
    <!--row-->
    <div class="row">
      <div class="col-xs-4 col-sm-2">
          <div class="form-group">
        <select id="langSelector" class="form-control">
          <option value="en">English</option>
          <option value="sp">Espanol</option>
        </select>
      </div>
      </div>
    </div>
  </div>
  <!--#pic-->

</header>

<script>
  $(function () {
    const getLang = () => {
      const url = window.location.href.split("/");
      return url[url.length - 2];
    };

    $("#langSelector").change(function () {
      const val = $(this).val();
      const curLang = getLang();
      window.location.href = window.location.href.replace(`/${curLang}/`, `/${val}/`);
    });

    const curLang = getLang();

    $(`#langSelector option[value='${curLang}']`).prop("selected", true);
  })
</script>