<div id="pic" class="img-fluid">
  <div class="row">
    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6">
      <div id="mobile-nav" class="btn-group">
        <div class="dropdown hidden-sm hidden-md hidden-lg hidden-xl">
          <button class="btn dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{#each menu_items}}
            <li><a class="dropdown-item" href="{{this.href}}">{{this.text}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>

      <a href="index.html">
        <h1 id="logo">Truck Spot</h1>
      </a>

    </div>

    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6">
      <!--Jessica's menu here-->
      <div class="dropdown">
        <ul id=nav>
          {{#each menu_items}}
          <li><a href="{{this.href}}">{{this.text}}</a></li>
          {{/each}}
        </ul>
      </div>
      <!-- dropdown-->
    </div>
    <div id="slogan">
      <h2>{{slogan.line_1}}</h2>
      <h3>{{slogan.line_2}}</h3>
    </div>
  <!--slogan-->
    <div id="lang-toggle" class="form-group">
        <select id="langSelector" class="form-control">
          <option value="en">English</option>
          <option value="sp">Español</option>
          <option value="ar">اختر لغة</option>
        </select>
    </div>
  </div>

  <!--row-->
</div>
<!--#pic-->
