<div class="col-sm-8">
  <h3>{{main_header}}</h3>
  <p>{{paragraphs.paragraph_1}}</p>
  <p>{{paragraphs.paragraphs_2}}</p>
  <p>One of the primary concerns around truck traffic is truck idling. This is when trucks remain stationary with the motor on, releasing pollutants that create health risks for residents. According to a city of Detroit ordinance, any commercial vehicle over 8,500 gross lbs is limited to 5 consecutive minutes of idling during any 60-minute period, unless there's an exemption. Read the ordinance for yourself <a href="https://library.municode.com/mi/detroit/codes/code_of_ordinances?nodeId=DECO_CH55TRVE_ARTIVLORE_DIV6IDPRCOVEEXGRVEWERA8500PO">here</a>. Truck idling also contributes to noise pollution which negatively affects the quality of life of residents. Our app allows users to make video recordings of truck idling and measure how long they are idling for, as well as where they are idling. These records can be used to inform policy makers on the problems facing communities.</p>
  <p>{{paragraphs.paragraph_4}}</p>
</div>