<div id="info" class="col-sm-4 organization">
  <ul>
    <li>
      <h3>{{sub_header_1}}</h3>
      <div>
        <p>{{stat_1}}</p><img src="../images/fiesta.png" id="fiesta">
      </div>
    </li>
    <li>
      <h3>{{sub_header_2}}</h3>
      <div>
        <p>{{stat_2}}</p><img src="../images/elephant.png" id="elephant">
      </div>
    </li>
    <li>
      <h3>{{sub_header_3}}</h3>
      <div>
        <p>{{stat_3}}</p><img src="../images/people.png" id="people">
      </div>
    </li>
  </ul>
</div>