<div class="col-md-8 col-md-pull-4">
  <div id="text-box">
    <div class="row">
      <div class="col-xs-12">
        <h3>{{text_box.text_1}}</h3>
        <div class="reports row">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <div id="loading">
              <img src="../images/Ellipsis-2s-200px.svg">
            </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <button id="nextBtn" class="btn btn-secondary">
          <i class="fas fa-arrow-down"></i> 
        </button>
      </div>
    </div>
  </div>
</div>