<div id="text-box" class="col-md-8 organization">
      <div class="row">
        <div class="col-xs-12">
          <h3>{{text_box.text_1}}</h3>
          <div id="loading">
            <img src="../images/Ellipsis-2s-200px.svg">
          </div>
          <div class="reports row">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-4">
          <button id="lastBtn" class="btn btn-secondary" disabled>
            <i class="fas fa-arrow-left"></i>
          </button>
        </div>
        <div class="col-md-6 col-xs-4 text-center">
          <small class="pagination"> </small>
        </div>
        <div class="col-md-3 col-xs-4">
          <button id="nextBtn" class="btn btn-secondary">
            <i class="fas fa-arrow-right"></i> 
          </button>
        </div>
      </div>
    </div>