div#address{
  clear:both;
}

option{
  padding-bottom: 20px;
}

#text-box h4 {
  color: #45A095;
  margin:0;
  font-weight: bold;
  text-transform: uppercase;
  font-size:20px;
  text-align: left;
}

[data-toggle="collapse"] .fa:before{
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

label {
  background-color: rgba(241, 241, 241, 0.4);
  padding: 5px;
  color: #9a4124;
  font-size: 15px;
  margin-top: 7px;
}

div.card-body {
  margin-bottom:2em;
  margin-top:0px;
}

.organization div.card{
  margin-bottom:5px;
}

.btn {
  width: 100%;
  border: none;
}

button#filterSubmit{
  margin-top: 15px;
}

div#filter label{
  color: #333;
  font-size: 15px;
  padding:2px 5px 0;
  background-color: inherit;
  font-weight: 500;
}

input[type=checkbox]{
  margin-left: 25px;
}

@media (min-width: 768px) {
 header h1#logo {
    width: 100%;
    margin-top: 20px;
  }
}